:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary-text: #212121;
  --color-secondary-text: #888787;
  --color-accent: #1d8dcd;
  --color-contact-footer: rgba(255, 255, 255, 0.6);
  --effect-time: 250ms;
  --effect-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-weight: 400;
  font-family: "E-Ukraine";
  src: url("../../fonts/e-Ukraine/e-Ukraine-Medium.otf") format("opentype");
}
@font-face {
  font-weight: 700;
  font-family: "E-Ukraine";
  src: url("../../fonts/e-Ukraine/e-Ukraine-Bold.otf") format("opentype");
}
body {
  background-color: var(--color-white);
  color: var(--color-primary-text);
  font-family: "E-Ukraine", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0em;
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
@media screen and (min-width: 651px) {
  .section-title {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 18px;
  }
}

.section-description {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: var(--color-secondary-text);
  margin-bottom: 30px;
}
@media screen and (min-width: 651px) {
  .section-description {
    font-size: 16px;
    line-height: 21px;
  }
}

a {
  display: block;
}

.vendor-button,
.contact-us__button, .hero__button {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-family: Montserrat;
  border-radius: 78px;
  border-style: none;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 1.214;
  text-transform: uppercase;
  width: 218px;
  height: 48px;
}
.vendor-button:hover,
.contact-us__button:hover, .hero__button:hover, .vendor-button:focus,
.contact-us__button:focus, .hero__button:focus {
  cursor: pointer;
}
@media screen and (min-width: 651px) {
  .vendor-button,
  .contact-us__button, .hero__button {
    width: 244px;
    height: 53px;
    font-size: 14px;
  }
}

.hero__button {
  line-height: 1.28;
  margin-left: auto;
  margin-right: auto;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 16px;
}
@media screen and (min-width: 651px) {
  .site-nav {
    padding-bottom: 28px;
  }
}

.site-nav__list {
  display: none;
}
@media screen and (min-width: 651px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 770px;
    font-size: 12px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
}

.site-nav__list.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  z-index: 6;
  position: absolute;
  left: 20%;
  top: 100px;
  width: 60vw;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 20px;
}

.site-nav__item {
  position: relative;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: inherit;
}

.site-nav__link {
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
@media screen and (min-width: 821px) {
  .site-nav__link {
    font-size: 16px;
  }
}

.site-nav__link--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--color-accent);
}

.menu-toggle {
  position: absolute;
  padding: 0;
  top: 46px;
  right: 20px;
  border: none;
  background-color: transparent;
  fill: var(--color-accent);
}
@media screen and (min-width: 651px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: white;
  z-index: 5;
  padding: 0px 0px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hero {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/background-hero-mob.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background-hero-mob.jpg);
  background-size: 350px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 82px;
  padding-bottom: 82px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  width: 350px;
  max-width: 1080px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/background-hero-mob@2x.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background-hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 500px) {
  .hero {
    width: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    background-size: 1080px;
    margin-bottom: 49px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/background-hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/background-hero.jpg);
  }
}
@media screen and (min-width: 500px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (min-resolution: 192dpi), screen and (min-width: 500px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../images/background-hero@2x.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/background-hero@2x.jpg);
  }
}

.hero .container {
  padding-left: 46px;
  padding-right: 46px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  color: var(--color-white);
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (min-width: 651px) {
  .hero__title {
    font-size: 26px;
    margin-bottom: 23px;
    width: 600px;
  }
}

.hero__slogan {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 34px;
}
@media screen and (min-width: 651px) {
  .hero__slogan {
    font-size: 18px;
  }
}

.services {
  position: relative;
  padding-top: 0px;
}
@media screen and (min-width: 450px) {
  .services {
    padding-top: 38px;
  }
}
.services::before {
  position: absolute;
  top: 36px;
  left: calc(50% - 120px);
  content: "";
  width: 240px;
  height: 2px;
  background: repeating-linear-gradient(to right, transparent 10px, transparent 30px, var(--color-accent) 30px, var(--color-accent) 50px);
}
@media screen and (min-width: 450px) {
  .services::before {
    top: 0px;
  }
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.service-item {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 900px) {
  .service-item {
    max-width: 50%;
  }
}

.service-item__image {
  display: none;
}
@media screen and (min-width: 450px) {
  .service-item__image {
    display: block;
    max-width: 50%;
    max-height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media screen and (min-width: 651px) {
  .service-item__image {
    max-height: 250px;
  }
}

.service-item:last-child {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-item:last-child .service-item__description {
  position: relative;
  display: block;
  max-width: 521px;
  text-align: center;
  padding-bottom: 23px;
  margin-bottom: 32px;
}
.service-item:last-child .service-item__description::after {
  position: absolute;
  bottom: 0;
  left: calc(50% - 120px);
  content: "";
  width: 240px;
  height: 2px;
  background: repeating-linear-gradient(to right, transparent 10px, transparent 30px, var(--color-accent) 30px, var(--color-accent) 50px);
}
@media screen and (min-width: 450px) {
  .service-item:last-child .service-item__description {
    padding-bottom: 31px;
    margin-bottom: 47px;
  }
}

.service-item__about {
  text-align: center;
  padding: 0 18px;
}
@media screen and (min-width: 450px) {
  .service-item__about {
    text-align: left;
  }
}

.service-item__name {
  margin-top: 29px;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
}
@media screen and (min-width: 651px) {
  .service-item__name {
    margin-top: 35px;
    font-size: 24px;
    line-height: 31px;
  }
}

.service-item__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: var(--color-secondary-text);
}
@media screen and (min-width: 651px) {
  .service-item__description {
    font-size: 16px;
    line-height: 21px;
  }
}

.service-item__interfaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-item__interfaces-header {
  font-size: 16px;
  line-height: 21px;
  line-height: 29px;
  margin-bottom: 10px;
}
@media screen and (min-width: 651px) {
  .service-item__interfaces-header {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
  }
}

.service-item__interfaces-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
}

.service-item__interfaces-item {
  padding: 10px;
  width: calc((100% - 40px) / 2);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 651px) {
  .service-item__interfaces-item {
    width: calc((100% - 80px) / 4);
    height: 200px;
  }
}

.service-item__interfaces-image {
  margin-bottom: 20px;
  margin: auto;
  display: block;
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
}

.service-item__interfaces-model {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}
@media screen and (min-width: 651px) {
  .service-item__interfaces-model {
    font-size: 16px;
    line-height: 21px;
  }
}

.vendors,
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 930px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 53px;
}
@media screen and (min-width: 651px) {
  .vendors,
  .partners {
    margin-bottom: 84px;
  }
}
.vendors .section-description,
.partners .section-description {
  width: 300px;
}
@media screen and (min-width: 651px) {
  .vendors .section-description,
  .partners .section-description {
    width: 100%;
  }
}

.vendor-list,
.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 651px) {
  .vendor-list,
  .partner-list {
    margin-bottom: 32px;
  }
}

.vendor-item,
.partner-item {
  padding: 15px;
}

.vendor-image,
.partner-image {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  fill: rgb(42, 204, 204);
}
.vendor-image.bigger,
.partner-image.bigger {
  height: 70px;
}
.vendor-image.novatel,
.partner-image.novatel {
  height: 60px;
}
@media screen and (min-width: 651px) {
  .vendor-image,
  .partner-image {
    height: 40px;
  }
  .vendor-image.bigger,
  .partner-image.bigger {
    height: 80px;
  }
  .vendor-image.novatel,
  .partner-image.novatel {
    height: 70px;
  }
}

.about_us {
  max-width: 1055px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 50px;
}

.about_us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 40px;
}
@media screen and (min-width: 600px) {
  .about_us-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about_us-container::before {
  position: absolute;
  top: 0px;
  left: calc(50% - 120px);
  content: "";
  width: 240px;
  height: 2px;
  background: repeating-linear-gradient(to right, transparent 10px, transparent 30px, var(--color-accent) 30px, var(--color-accent) 50px);
}

.about_us-image {
  width: 100%;
  margin: auto;
  max-height: 494px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}
@media screen and (min-width: 450px) {
  .about_us-image {
    border-radius: 10px;
    width: 50%;
  }
}

.about_us-card {
  position: relative;
  padding-left: 0px;
  padding-top: 38px;
}
@media screen and (min-width: 450px) {
  .about_us-card {
    padding-left: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .about_us-card {
    padding-left: 84px;
  }
}

.about_us-header {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 21px;
}
@media screen and (min-width: 450px) {
  .about_us-header {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 23px;
  }
}

.about_us-description {
  color: var(--color-secondary-text);
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 41px;
}
@media screen and (min-width: 800px) {
  .about_us-description {
    font-size: 16px;
    line-height: 22px;
  }
}

.about_us-social {
  position: absolute;
  top: 14px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 600px) {
  .about_us-social {
    position: relative;
    top: 0px;
  }
}

@media screen and (min-width: 600px) {
  .about_us-social_item svg {
    width: 52px;
    height: 52px;
  }
}
.about_us-social_item:not(:last-child) {
  margin-right: 11px;
}

.contacts {
  max-width: 1080px;
  margin: auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts .section-title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 651px) {
  .contacts .section-title {
    text-align: left;
  }
}

.contacts-container {
  position: relative;
  padding-top: 31px;
  width: 100%;
}
@media screen and (min-width: 651px) {
  .contacts-container {
    width: 50%;
  }
}
.contacts-container::before {
  position: absolute;
  top: 0;
  left: calc(50% - 120px);
  content: "";
  width: 240px;
  height: 2px;
  background: repeating-linear-gradient(to right, transparent 10px, transparent 30px, var(--color-accent) 30px, var(--color-accent) 50px);
}
@media screen and (min-width: 651px) {
  .contacts-container::before {
    left: 0;
  }
}

.contacts-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 9px;
}

.contacts-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-item__icon {
  margin-right: 15px;
}

#contact_us {
  padding-top: 31px;
  width: 100%;
}
@media screen and (min-width: 651px) {
  #contact_us {
    width: 50%;
  }
}

.contact-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us__input {
  border: 1px solid #eff0f6;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1.7611111403px 5.2833333015px 0px rgba(19, 18, 66, 0.0705882353);
          box-shadow: 0px 1.7611111403px 5.2833333015px 0px rgba(19, 18, 66, 0.0705882353);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.02em;
  padding: 20px 18px;
  margin-bottom: 12px;
}

.contact-us__comment {
  border: 1px solid #eff0f6;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1.7611111403px 5.2833333015px 0px rgba(19, 18, 66, 0.0705882353);
          box-shadow: 0px 1.7611111403px 5.2833333015px 0px rgba(19, 18, 66, 0.0705882353);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.02em;
  padding: 20px 18px;
  margin-bottom: 25px;
  height: 100px;
  resize: none;
  outline: none;
}/*# sourceMappingURL=main.css.map */