.hero {
  text-align: center;

  background-image: url(../../images/background-hero.jpg);
  background-size: 1080px;

  background-repeat: no-repeat;
  background-position: center;
  // background-color: #2f303a;

  padding-top: 90px;
  padding-bottom: 90px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/background-hero-mob@2x.jpg);
  }

  // @media screen and (min-width: 1000px) {
  //   padding-top: 200px;
  //   padding-bottom: 200px;
  //   background-size: 1080px;

  //   background-image: url(../../images/background-hero.jpg);
  //   @media (min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url(../images/background-hero@2x.jpg);
  //   }
  // }
}

.hero__title {
  // font-family: 'E-Ukraine', sans-serif;
  color: var(--color-white);

  font-family: e-Ukraine;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.154;
  letter-spacing: 0em;
  text-align: center;

  margin-bottom: 23px;
  width: 100%;

  // @media screen and (min-width: 1200px) {
  //   font-size: 44px;
  // }
}

.hero__slogan {
  color: var(--color-white);

  font-family: e-Ukraine;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0em;
  text-align: center;

  margin-bottom: 31px;
}
